body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.progressbar{
    position: relative;
    min-width: 600px;
    min-height: 20px;
    width: 60%;
    height: 3%;
    border-radius: 20px;
    background-color: #eee;
}

.barframe {
    position: absolute;
    top: -5px;
    left: -5px;
    border: 5px solid black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 20px;
    width: 50%;
}

.box-container {
    /* border: 2px solid black; */
    min-width: 750px;
    min-height: 600px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    border: 5px solid black;
    border-radius: 15px;
    height: 30%;
    width: 30%;
}

  
  

